<h1>New List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>

  <%= f.simple_fields_for :bookmarks, @bookmark do |bookmark_form| %>
    <%= bookmark_form.association :movie, prompt: 'Select a movie' %>
    <%= bookmark_form.input :comment, label: 'Comment', input_html: { rows: 3 } %>
  <% end %>

  <%= f.button :submit %>
<% end %>