<h1><%= @list.name %></h1>

<% @bookmarks.each do |bookmark| %>
  <div>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
    <p>Comment: <%= bookmark.comment %></p>
    <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-primary' %> |
<%= link_to 'Back', lists_path, class: 'btn btn-secondary' %> |
<%= button_to 'Delete List', list_path(@list), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
